.DS_Store

# Entrance
entrance-api/out

# Menu
menu/.zig-cache
menu/zig-out
menu/data
menu/mongo_libs

# Order List
order-list/docs/
order-list/lib/
order-list/bin/
order-list/.shards/
order-list/data
order-list/shard.lock
*.dwarf
