.DS_Store

mq
postgres

# Entrance
entrance-api/out

# Menu
menu/.zig-cache
menu/zig-out
menu/zig-pkg
menu/data
menu/mongo_libs
menu/src/headers

# Order List
order-list/docs/
order-list/lib/
order-list/bin/
order-list/.shards/
order-list/data
order-list/shard.lock
*.dwarf

# Authentication
authentication/target
authentication/Cargo.lock

# Order Manager
order_manager/*.beam
order_manager/*.ez
order_manager/build
order_manager/erl_crash.dump
